{ 
    "css": {
        "enable": true,
        "all": false,
        "dir": "",
        "extras":[
            "antiShift/css/shifts.min.css"
        ],
        "inputs": [
        ]
    },
    "js": {
        "enable": true,
        "all": false,
        "dir":"",
        "extras":[
            "lazyLoad/js/lazy.min.js",
            "antiShift/js/antiShift.min.js"
        ],
        "inputs": [
            ""
        ]
    },
    "imageCompressor": {
        "enable": true,
        "dir": ""
    }
}

