.expertise-indicator-icon .expertise-icon-item {
    margin-bottom: 30px;
}

.header_style_two .brand-logo img {
    max-width: 150px; padding-top: 10px
}

.section-title-left .title-tag img {
    margin-right: 0;
    margin-bottom: 35px;
    max-width: 300px;
}



.footer-widget-item .footer-logo-widget .footer-logo {
    max-width: 170px;
}

.breadcrumb-section {
    padding: 245px 0px 135px;
}

.expertise-indicator-icon .expertise-icon-item {
    width: 30px;
    height: 30px;
}

.site-info-icon-text:hover p{ color: rgba(255,255,255,1.00) !important}

.expertise-indicator-icon {
    right: -15px;
}

.mission-area {
    padding: 40px 40px;
}



.feature-style-two .feature-slide-icon-text .feature-slide-icon {
    margin-bottom: 15px;
    font-size: 4em;
    color: #fff;
}

.expertise-indicator-icon .expertise-icon-item:after, .eltron-info-section .eltron-info-icon-text .eltron-info-icon:after {
    width: 50px;
    height: 50px;
}

.tabText {
    position: absolute;
    left: .0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
  padding: 25px;
  background: rgba(0,0,0,0.8);
    height: 100%;
  width: 100%
}

.tabText h3{ color: rgba(255,255,255,1.00); margin: auto}

.dtb{ display: table; height:100%; width: 100%}
.dtr{ display: table-row; height:100%; width: 100%}
.dtc{ display: table-cell; padding: 25px; height:100%; margin: auto; width: 100%}
.midtext{ vertical-align: middle}

.btnGral {
    text-transform: uppercase;
    background-color: #14cedd;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    height: 60px;
    width: 215px;
    display: inline-block;
    padding: 16px 15px;
}

.grid-item {
    width: 25% !important;
}

.project-section-two .grid-sizer {
    width: 25%;
}

.newslatter-content *{ color: rgba(255,255,255,1.00)}

.newslatter-content h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 0px;
}

.newslatter-content i {
font-size: 65px;
    padding: 15px;
    text-align: center;
    margin-left: 12px;
    width: 125px;
    height: 125px;
    margin: auto;
    border-radius: 125px;
    background: #ce8a09;
    line-height: 95px;
}
.btnGral:hover, .btnGral:focus, .btnGral:active, .btnGral:visited { color: rgba(255,255,255,1.00) }

@media screen and (max-width: 680px) {
.hideresp{ display: none}
  
.project-section .section-title-left {
    text-align: center;
}  
  
.grid-item {
    width: 50% !important;
}

  
  .backSon{    min-height: 250px !important;}
.project-section-two .grid-sizer {
    width: 50%;
}  
  
.section-title-left .title-tag img {
    display: none;
}  
  
  
.newslatter-section .newslatter-content {
    padding: 35px;
    background-color: #eda213;
    text-align: center;
}  
  
  
}